VITE_PROGRAM_ID=CQMQ2Z26ueLm7hNa2rFGADtdLhURSN9MfcUTDqCjkni4
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_DEVNET_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
VITE_ELEVENLABS_AGENT_ID=agent_3501kr720w64f2mrb6rhhxant3dh
